$mainPadding: 0em;
.cart_parent {
  min-height: 83vh !important;
  padding: $mainPadding;
  .cart_card_con {
    display: flex;
    flex-direction: column;

    align-items: stretch;
  }
  .checkout {
    position: sticky;
    bottom: 2.2em;
    padding: 1em;
    margin-top: 1em;

    background-color: goldenrod;
    text-align: center;
    color: white;
    border-radius: 10px 10px 0 0;
    transition: all 0.2s linear;
    &:active {
      background-color: white;
      transform: scaleX(0.98);
      color: goldenrod;
      border: solid 1px white;
    }
  }
}
.empty_cart {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50vh;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
